@{
    Layout = "/Views/Shared/_LayoutCustom.cshtml";
}

@model ListPostViewModel
<partial name="_HeaderPartial" />
<div class="container px-4 px-lg-5">    
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7" >
            <div id="listPosts">
                @await Html.PartialAsync("_ListPosts", Model)
            </div>
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!" id="btnAddPosts">Mais Posts</a></div>
            <input type="hidden" id="page" value="@Model.Page" />
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).on('click', '#btnAddPosts', function (e) {
            let page = parseInt($('#page').val()) + 1;
            $.ajax({
                url: '/Posts/List/' + page,
                success: function (partialView) {
                    $('#listPosts').append(partialView);
                    $('#page').val(page);
                }
            });
        });
    </script>
}

